public-hoist-pattern[]=vite
public-hoist-pattern[]=esbuild
public-hoist-pattern[]=typescript
public-hoist-pattern[]=*@babel/runtime*
public-hoist-pattern[]=*tsconfig-paths*
public-hoist-pattern[]=*ts-node*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*@types/express*
public-hoist-pattern[]=*vue-template-compiler*
public-hoist-pattern[]=ssr-serialize-javascript
public-hoist-pattern[]=*ssr*
public-hoist-pattern[]=ssr-vite
public-hoist-pattern[]=pinia
public-hoist-pattern[]=axios
public-hoist-pattern[]=*core-js*
public-hoist-pattern[]=path-to-regexp
public-hoist-pattern[]=@vitejs/plugin-vue
public-hoist-pattern[]=@vitejs/plugin-vue-jsx
public-hoist-pattern[]=@vitejs/plugin-react
public-hoist-pattern[]=react-router
public-hoist-pattern[]=react-router-dom
public-hoist-pattern[]=valtio
