public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*@babel/runtime*
public-hoist-pattern[]=*ts-node*
public-hoist-pattern[]=*tsconfig-paths*
public-hoist-pattern[]=*midway-schedule*
public-hoist-pattern[]=*egg-mock*
public-hoist-pattern[]=*eslint*