public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*@babel/runtime*
public-hoist-pattern[]=*tsconfig-paths*
public-hoist-pattern[]=*ts-node*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*@types/express*
public-hoist-pattern[]=*vue-template-compiler*
public-hoist-pattern[]=*vue-server-renderer*
public-hoist-pattern[]=*@vue/server-renderer*
public-hoist-pattern[]=*ssr*
public-hoist-pattern[]=pinia
public-hoist-pattern[]=@types/webpack
