.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: darkslateblue;
  color: #fff;
}
.author {
  position: absolute;
  font-size: 15px;
  bottom: 10px;
  right: 100px;
}
