.weui-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    flex: 1;
  }
}

.justify-content {
  display: flex;
  justify-content: center;
}

.align-items {
  display: flex;
  align-items: center;
}

.justify-align {
  display: flex;
  justify-content: center;
  align-items: center;
}


.verticalCenter {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}


