# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the dev branch
on:
  push:
    branches: [ dev, master ]
  pull_request:
    branches: [ dev, master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  install:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '12', '13' ]
    steps:
     - uses: actions/checkout@v2
     - name: Use Node.js
       uses: actions/setup-node@v1
       with:
         node-version: ${{ matrix.node }}
     - name: restore lerna
       uses: actions/cache@v2
       with:
        path: |
          node_modules
          */*/node_modules
        key: ${{ runner.os }}-${{ hashFiles('package.json') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.node-version }}-nodemodules-
     - name: Install dependencies
       run: |
        yarn

  lint:
    needs: install
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '12', '13' ]
    steps:
     - uses: actions/checkout@v2
     - name: Setup Node.js
       uses: actions/setup-node@v1
       with:
         node-version: ${{ matrix.node }}
     - name: Load node_modules
       uses: actions/cache@v2
       with:
        path: |
            node_modules
            */*/node_modules
        key: ${{ runner.os }}-${{ hashFiles('package.json') }}
     - run: yarn run lint
  build-only:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '12', '13' ]
    steps:
     - uses: actions/checkout@v2
     - name: Setup Node.js
       uses: actions/setup-node@v1
       with:
         node-version: ${{ matrix.node }}
     - name: Load node_modules
       uses: actions/cache@v2
       with:
        path: |
            node_modules
            */*/node_modules
        key: ${{ runner.os }}-${{ hashFiles('package.json') }}
     - run: yarn run build:only

  publish:
    name: Publish
    if: "startsWith(github.event.head_commit.message, 'chore(release): publish')"
    runs-on: ubuntu-latest
    needs:
      - lint
      - install
      - build-only

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Load node_modules
        uses: actions/cache@v2
        with:
          path: |
              node_modules
              */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('package.json') }}
      - name: List packages
        run: ls -R packages
        shell: bash
      - name: Lerna publish
        run: |
          find ./packages/ -type d -maxdepth 1 -exec cp LICENSE {} \;
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
          npx lerna publish from-package --no-verify-access --yes
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}