# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the dev branch
on:
  push:
    branches: [dev, master, 'feat/**', ci/test]
  pull_request:
    branches: [dev, master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  bootstrap:
    if: ${{ !contains(github.event.head_commit.message, 'skip ci') && !contains(github.event.head_commit.message, '.md')}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["13"]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: |
            /home/runner/.cache/Cypress
            ~/.cache/yarn
            node_modules
            packages/**/node_modules
          key: ${{ runner.os }}-v2.5.1-build-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-v2.5.1-build-
            ${{ runner.os }}-v2.5.1-build-
            ${{ runner.os }}-v2.5.1-
      - name: Install dependencies
        run: | 
          yarn && yarn build:only
          rm -rf packages/**/node_modules
          node scripts/scripts.js --publishDoc
          cd example/midway-react-ssr && yarn
          cd ../midway-vue-ssr && yarn 
          cd ../nestjs-react-ssr && yarn
          cd ../nestjs-vue-ssr && yarn
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: bindings-${{matrix.node}}
          path: |
           !packages/**/node_modules    

  lint:
    needs: bootstrap
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["13"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Load node_modules
        uses: actions/cache@v2
        with:
          path: |
            /home/runner/.cache/Cypress  
            ~/.cache/yarn
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-v2.5.1-build-${{ hashFiles('**/yarn.lock') }}
      - run: yarn run lint

  e2e-chrome-midway-react:
    needs: bootstrap
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        node: ["13"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Load node_modules
        uses: actions/cache@v2
        with:
          path: |
            /home/runner/.cache/Cypress  
            ~/.cache/yarn
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-v2.5.1-build-${{ hashFiles('**/yarn.lock') }}
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: bindings-${{matrix.node}}
          path: packages
      - name: prepare
        run: yarn run link --react
      - uses: cypress-io/github-action@v2
        with:
          start: yarn run example:midway:react
          wait-on: 'http://localhost:3000'
          spec: | 
            cypress/integration/examples/common-ssr.spec.js  
            cypress/integration/examples/react-ssr.spec.js
          browser: chrome
  e2e-firefox-midway-react:
    needs: bootstrap
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        node: ["13"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Load node_modules
        uses: actions/cache@v2
        with:
          path: |
            /home/runner/.cache/Cypress  
            ~/.cache/yarn
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-v2.5.1-build-${{ hashFiles('**/yarn.lock') }}
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: bindings-${{matrix.node}}
          path: packages
      - name: prepare
        run: yarn run link --react
      - uses: cypress-io/github-action@v2
        with:
          start: yarn run example:midway:react
          wait-on: 'http://localhost:3000'
          spec: | 
            cypress/integration/examples/common-ssr.spec.js  
            cypress/integration/examples/react-ssr.spec.js
          browser: firefox

  e2e-chrome-midway-vue:
    needs: bootstrap
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        node: ["13"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Load node_modules
        uses: actions/cache@v2
        with:
          path: |
            /home/runner/.cache/Cypress  
            ~/.cache/yarn
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-v2.5.1-build-${{ hashFiles('**/yarn.lock') }}
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: bindings-${{matrix.node}}
          path: packages
      - name: prepare
        run: yarn run link --vue2
      - uses: cypress-io/github-action@v2
        with:
          start: yarn run example:midway:vue
          wait-on: 'http://localhost:3000'
          spec: |
            cypress/integration/examples/common-ssr.spec.js  
            cypress/integration/examples/vue-ssr.spec.js
          browser: chrome
  e2e-chrome-midway-vue3:
    needs: bootstrap
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        node: ["13"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Load node_modules
        uses: actions/cache@v2
        with:
          path: |
            /home/runner/.cache/Cypress  
            ~/.cache/yarn
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-v2.5.1-build-${{ hashFiles('**/yarn.lock') }}
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: bindings-${{matrix.node}}
          path: packages
      - name: prepare
        run: yarn run link --vue3
      - uses: cypress-io/github-action@v2
        with:
          start: yarn run example:midway:vue3
          wait-on: 'http://localhost:3000'
          spec: |
            cypress/integration/examples/common-ssr.spec.js  
            cypress/integration/examples/vue-ssr.spec.js
          browser: chrome
  e2e-chrome-nestjs-vue:
    needs: bootstrap
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        node: ["13"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Load node_modules
        uses: actions/cache@v2
        with:
          path: |
            /home/runner/.cache/Cypress  
            ~/.cache/yarn
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-v2.5.1-build-${{ hashFiles('**/yarn.lock') }}
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: bindings-${{matrix.node}}
          path: packages
      - name: prepare
        run: yarn run link --vue2
      - uses: cypress-io/github-action@v2
        with:
          start: yarn run example:nestjs:vue
          wait-on: 'http://localhost:3000'
          spec: |
            cypress/integration/examples/common-ssr.spec.js  
            cypress/integration/examples/vue-ssr.spec.js
          browser: chrome
  e2e-firefox-nestjs-react:
    needs: bootstrap
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        node: ["13"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Load node_modules
        uses: actions/cache@v2
        with:
          path: |
            /home/runner/.cache/Cypress  
            ~/.cache/yarn
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-v2.5.1-build-${{ hashFiles('**/yarn.lock') }}
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: bindings-${{matrix.node}}
          path: packages
      - name: prepare
        run: yarn run link --react
      - uses: cypress-io/github-action@v2
        with:
          start: yarn run example:nestjs:react
          wait-on: 'http://localhost:3000'
          spec: | 
            cypress/integration/examples/common-ssr.spec.js  
            cypress/integration/examples/react-ssr.spec.js
          browser: firefox
  publish:
    name: Publish
    if: "startsWith(github.event.head_commit.message, 'chore(release): publish')"
    runs-on: ubuntu-latest
    needs:  
      - lint
      - e2e-firefox-midway-react
      - e2e-chrome-midway-react
      - e2e-chrome-midway-vue
      - e2e-firefox-nestjs-react
      - e2e-chrome-nestjs-vue
      - e2e-chrome-midway-vue3

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 13
      - name: Load node_modules
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-v2.5.1-build-${{ hashFiles('**/yarn.lock') }}
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: bindings-13
          path: packages
      - name: List packages
        run: ls -R packages
        shell: bash
      - name: Lerna publish
        run: |
          find ./packages/ -type d -maxdepth 1 -exec cp LICENSE {} \;
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
          npx lerna publish from-package --no-verify-access --yes
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
